%body
  .chat-wrapper
    .chat-wrapper__header
      .chat-wrapper__header__title
        Our chat!
      .chat-wrapper__header__btn
    .chat-wrapper__container
      .chat-wrapper__container__left
      .chat-wrapper__container__right
        .chat-wrapper__container__right__upper
        .chat-wrapper__container__right__bottom
          .chat-wrapper__container__right__bottom__ctat-box
            .chat-wrapper__container__right__bottom__ctat-box_name
            .chat-wrapper__container__right__bottom__ctat-box_message
            .chat-wrapper__container__right__bottom__ctat-box_date
