%body
  .chat-wrapper
    .chat-wrapper__header
      .chat-wrapper__header__back
      = link_to("back", root_path, {class: "back"})
      .chat-wrapper__header__title
        Our chat!
      .chat-wrapper__header__list
      = link_to("To List", root_path, {class: "home"})
    .chat-wrapper__container
      .chat-wrapper__container__left
        %h1.chat-wrapper__container__left_author
          作成者：
      .chat-wrapper__container__center
        .chat-wrapper__container__center__upper
        .chat-wrapper__container__center__bottom
          .chat-wrapper__container__center__bottom__ctat-box
            .chat-wrapper__container__center__bottom__ctat-box_name
            .chat-wrapper__container__center__bottom__ctat-box_message
            .chat-wrapper__container__center__bottom__ctat-box_date
      .chat-wrapper__container__right
