.board-wrapper {
  height: 100vh;
  width: 100vw;

  &__header {
    height: 15%;
    width: 100%;
    background-size: 100%;
    display: flex;
    &__left {
      height: 50%;
      width: 50%;
      color: rgb(95, 10, 10);
      text-shadow:  2px 2px 0px rgb(218, 83, 83);
      font-weight: bold;
      text-align: center;
      font-size: 70px;
      line-height: 90px;
      margin-top: 10px;
      margin-left: 350px;
    }
    &__right {
      color: orangered;
      &:hover {
        color: rgb(3, 133, 240);
        font-weight: bold;
        text-shadow: 2px 2px 0px rgb(80, 7, 7);
      }
    }
  }
  &__container {
    height: 85%;
    width: 100%;
    background-image: image-url("edit-board.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    &__box {
      height: 100%;
      width: 80%;
      margin: 0 auto;
      .form_box {
        height: 100%;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;

        .form_title {
          height: 100px;
          border: 5px rgb(90, 88, 88) solid;
          border-radius: 30px;
          margin-top: 100px;
          font-size: 35px;
          opacity: 0.8;
        }
        .form_title::placeholder {
          line-height: 60px;
          font-size: 30px;
          text-align: center;
        }
        .form_content {
          height: 600px;
          border: 5px rgb(90, 88, 88) solid;
          font-size: 40px;
          margin-top: 50px;
          opacity: 0.8;
        }
        .form_content::placeholder {
          font-size: 30px;
          position: relative;
          top: 0.3em;
          text-align: center;
        }
        .form__btn {
        }
      }
    }
  }
}