.board-wrapper {
  height: 100vh;
  width: 100vw;

  &__header {
    height: 15%;
    width: 100%;
    background-image: image-url("boards-header.jpg");
    background-size: 100%;
    &__right {
      text-decoration: none;
      color: orange;
      font-size: 200%;
      font-weight: bold;
      text-align: center;
      &:hover {
        color: orangered;
      }
    }
  }
  &__center {
    height: 85%;
    width: 100vw;
    background-image: image-url("new-board.jpg");
    background-size: cover;
    display: flex;
    &__left {
      height: 92%;
      width: 25%;
    }
    &__show {
      height: 92%;
      width: 50%;
      background-color: gray;
      opacity: 0.7;
      padding-top: 50px;
      text-align: center;
      &__title {
        height: 60px;
        width: 80%;
        border: 1px black solid;
        margin: 0 auto;
        background-color: rgb(173, 179, 173);
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
      }
      &__content {
        height: 350px;
        width: 80%;
        border: 1px black solid;
        margin: 0 auto;
        margin-top: 50px;
        background-color: rgb(173, 179, 173);
        color: #fff;
        font-size: 30px;
        font-weight: bold;
      }
      &__btn {
        height: 50px;
        width: 200px;
        background-color: rgb(173, 179, 173);
        border: 1px black solid;
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin-top: 150px;
        padding: 10px 20px;
        position: relative;
        top: 70px;
        &:hover {
          text-decoration: none;
          color: rgb(245, 238, 238);
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
    &__right {
      height: 92%;
      width: 25%;
      .edit {
        background-color: rgb(71, 99, 223);
        text-decoration: none;
        color: blanchedalmond;
        font-size: 30px;
        border-radius: 10%;
        padding: 20px 50px;
        opacity: 0.7;
        position: relative;
        top: 60px;
        left: 100px;
        &:hover {
          text-decoration: none;
          position: relative;
          top: 60px;
          left: 100px;
          color: rgb(110, 20, 20);
        }
      }
      &__destroy-box {
        text-decoration: none;
        background-color: rgb(12, 10, 12);
        font-size: 30px;
        padding: 20px 40px;
        position: relative;
        top: 200px;
        right: 70px;
        opacity: 0.6;
        color: blanchedalmond;
        &:hover {
          color: palegreen;
        }
      }
    }
  }
}