.chat-wrapper {
  height: 100vh;
  width: 100vw;
  &__header {
    height: 15%;
    width: 100%;
    background-image: image-url("boards-header.jpg");
    background-size: 100%;
    display: flex;
    &__back {
      height: 50%;
      width: 12%;
      background-color: rgb(223, 204, 97);
      line-height: 60px;
      margin-top: 30px;
      margin-left: 100px;
      margin-right: 90px;
      border-radius: 40px;
      position: relative;
    }
    .back {
      text-decoration: none;
      color: rgb(231, 93, 59);
      font-weight: bold;
      font-size: 30px;
      text-shadow: 2px 2px 0px rgb(80, 7, 7);
      position: absolute;
      top: 40px;
      left: 150px;
    }
    .back:hover {
      text-decoration: none;
      color: rgb(3, 133, 240);
      font-weight: bold;
      font-size: 30px;
      text-shadow: 2px 2px 0px rgb(80, 7, 7);
      position: absolute;
      top: 40px;
      left: 150px;
    }
    &__title {
      height: 50%;
      width: 50%;
      color: rgb(228, 89, 198);
      text-shadow:  2px 2px 0px rgb(12, 11, 11);
      font-weight: bold;
      text-align: center;
      font-size: 70px;
      line-height: 90px;
      margin-top: 10px;
    }
    &__list {
      height: 50%;
      width: 12%;
      background-color: rgb(223, 204, 97);
      line-height: 60px;
      margin-top: 30px;
      margin-left: 100px;
      border-radius: 40px;
      position: relative;
    }
    .home {
      text-decoration: none;
      color: rgb(231, 93, 59);
      font-weight: bold;
      font-size: 30px;
      text-shadow: 2px 2px 0px rgb(80, 7, 7);
      position: absolute;
      top: 40px;
      right: 125px;
    }
    .home:hover {
      text-decoration: none;
      color: rgb(3, 133, 240);
      font-weight: bold;
      font-size: 30px;
      text-shadow: 2px 2px 0px rgb(80, 7, 7);
      position: absolute;
      top: 40px;
      right: 125px;
    }
  }
  &__container {
    height: 100%;
    width: 100%;
    background-image: image-url("chat-container.jpeg");
    background-size: cover;
    background-repeat: no-repeat;;
    background-position-y: -100px;
    position: fixed;
    display: flex;
    &__left {
      height: 100%;
      width: 20%;
      &_author {
        height: 50px;
        width: 200px;
        background-color: black;
        text-align: center;
        margin: 0 auto;
        margin-top: 45px;
        color: blanchedalmond;
        font-weight: bold;
        line-height: 50px;
        padding-left: 10px;
      }
    }
    &__center {
      height: calc(100% - 310px);
      width: 60%;
      position: relative;
      &__upper {
        height: 100%;
        background-color: brown;
        padding-top: 40px;
        padding-bottom: 50px;
        opacity: 0.7;
        &__title {
          height: 50px;
          width: 30%;
          line-height: 50px;
          background-color: rgb(235, 3, 3);
          margin: 0 auto;
          border-radius: 30px;
          position: relative;
          p {
            color: blanchedalmond;
            font-size: 30px;
            text-align: center;
          }
        }
      }
      &__bottom {
        height: 100px;
        width: 100%;
        background-color: brown;
        opacity: 0.9;
        overflow: scroll;
        &__ctat-box {
          height: 100px;
          width: 400px;
          background-color: chartreuse;
          border-radius: 10px;
          margin-left: 240px;
          margin-bottom: 50px;
          &_name {
            height: 20%;
            width: 40%;
            padding-left: 30px;
          }
          &_message {
            height: 60%;
            width: 100%;
            font-size: 30px;
            line-height: 60px;
            margin-left: 20px;
          }
          &_date {
            height: 20%;
            width: 50%;
            margin-left: 200px;
          }
        }
      }
      &__form {
        height: 70px;
        width: 80%;
        margin: 15px auto;
        background-color: blanchedalmond;
        .form_chat {
          height: 50px;
          width: 550px;
          margin-top: 10px;
          margin-left: 10px;
        }
        label {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 120px;
          cursor: pointer;
          .icon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
          .chat_text {
            display: none;
          }
        }
      }
      .chat_btn {
        height: 100%;
        width: 100px;
        background-color: #38aef0;
        color: #fff;
        line-height: 50px;
        text-align: center;
        margin-left: 10px;
      }
    }
    &__right {
      height: 100%;
      width: 20%;
    }
  }
}