body {
  .group-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;

    &__header {
      height: 15%;
      width: 100%;
      background-image: url(boards-header.jpg);
      background-size: 100%;
      h1 {
        font-weight: bold;
        font-size: 100px;
        color: rgb(216, 152, 34);
        text-align: center;
        text-shadow:  20px 20px 20px black;
      }
    }
    &__container {
      height: calc(100vh - 15%);
      width: 100%;
      background-image: url(boards-side.jpg;);
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      &__left {
        height: 100%;
        width: 25%;
        background-color: orangered;
        margin: 0px;
        
        background-image: url(link_new);
        &__new {
          height: 100px;
          width: 200px;
          background-color: orchid;
          border-radius: 50px;
          margin-top: 50px;
          margin-left: 70px;
          position: absolute;
          opacity: 0.8;
        }
        .new {
          text-decoration: none;
          color: rgb(102, 202, 164);
          text-shadow: 2px 2px 0px rgb(9, 52, 87);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 90px;
          padding-top: 25px;
          padding-bottom: 25px;
        }
        .new:hover {
          text-decoration: none;
          color: rgb(173, 41, 96);
          text-shadow: 2px 2px 0px rgb(9, 52, 87);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 90px;
        }
      }
      ul {
        height: 100%;
        width: 25%;
        margin: 0px;
        background-image: url(link_new);
        position: relative;
        li.group-wrapper__container__right__home {
          height: 100px;
          width: 200px;
          background-color: yellow;
          border-radius: 50px;
          margin-top: 50px;
          margin-left: 70px;
          position: absolute;
          opacity: 0.7;
          flex-flow:column;
          justify-content: space-between;
        }
        .home {
          text-decoration: none;
          color: rgb(231, 93, 59);
          text-shadow: 2px 2px 0px rgb(80, 7, 7);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 95px;
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 30px;
          padding-left: 30px;
        }
        .home:hover {
          text-decoration: none;
          color: rgb(3, 133, 240);
          text-shadow: 2px 2px 0px rgb(80, 7, 7);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 95px;
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 30px;
          padding-left: 30px;
        }
        li.group-wrapper__container__right__log-out {
          height: 70px;
          width: 200px;
          background-color: gray;
          border: 3px black solid;
          margin-top: 50px;
          margin-left: 70px;
          opacity: 0.7;
          position: absolute;
          bottom: 100px;
        }
        .log-out {
          font-size: 40px;
          color:blue;
          letter-spacing: 3px;
          text-decoration: none;
          position: absolute;
          bottom: 105px;
          right: 90px;
          padding: 10px 20px;
          transition: 0.5s;
        }
        .log-out:hover {
          font-size: 50px;
          color: red;
          font-weight: bold;
          letter-spacing: 3px;
          text-decoration: none;
          position: absolute;
          bottom: 100px;
          right: 70px;
          padding: 10px 20px;
        }
      }
      &__center {
        height: 100%;
        width: 50%;
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        overflow: scroll;
        &__box {
          height: 100px;
          width: 100%;
          background-color: black;
          margin-bottom: 50px;
          opacity: 0.7;
          overflow: scroll;
          &__user {
            height: 30%;
            width: 50%;
            color: #fff;
            font-size: 30px;
            border-bottom: 1px #fff solid;
            margin: 0 auto;
            text-align: center;
          }
          &__title {
            height: 70%;
            width: 100%;
            color: #fff;
            font-size: 50px;
            table-layout: fixed;
            word-wrap: break-word;
            position: absolute;
          }
          .link_show {
            text-decoration: none;
            position: relative;
            top: 10px;
            color: #fff;
            padding-top: 40px;
            padding-right: 150px;
            padding-left: 150px;
          }
        }
        &__box:hover {
          height: 100px;
          width: 100%;
          background-color: rgb(51, 132, 185);
          margin-bottom: 50px;
          opacity: 0.7;
          overflow: scroll;
        }
      }
    }
  }
}