body {
  .group-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    &__header {
      height: 15%;
      width: 100%;
      background-image: image-url("header-board.jpg");
      background-size: 100%;
      h1 {
        font-weight: bold;
        font-size: 90px;
        color: orange;
        text-align: center;
        text-shadow:  20px 20px 20px black;
        line-height: 110px;
      }
    }
    &__container {
      height: calc(100vh - 15%);
      width: 100%;
      background-image: image-url("sign-in.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      &__left {
        height: 100%;
        width: 25%;
        background-image: image-url("side-bar.jpg");
        background-position-y: -150px;
        margin: 0px;
        &__new {
          height: 11%;
          width: 15%;
          background-color: orchid;
          color: rgb(173, 41, 96);
          text-shadow: 2px 2px 0px rgb(9, 52, 87);
          font-weight: bold;
          font-size: 150%;
          line-height: 350%;
          text-align: center;
          border-radius: 50px;
          margin-top: 50px;
          margin-left: 70px;
          position: absolute;
          opacity: 0.8;
          text-decoration: none;
          &:hover {
            color: rgb(102, 202, 164);
            text-shadow: 2px 2px 0px rgb(9, 52, 87);
            font-weight: bold;
          }
        }
      }
      ul {
        height: 100%;
        width: 25%;
        margin: 0px;
        background-image: image-url("side-bar.jpg");
        background-position: right;
        position: relative;
        li.group-wrapper__container__right__home {
          height: 100px;
          width: 200px;
          background-color: yellow;
          border-radius: 50px;
          margin-top: 50px;
          margin-left: 70px;
          position: absolute;
          opacity: 0.7;
          flex-flow:column;
          justify-content: space-between;
        }
        .home {
          text-decoration: none;
          color: rgb(231, 93, 59);
          text-shadow: 2px 2px 0px rgb(80, 7, 7);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 95px;
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 30px;
          padding-left: 30px;
        }
        .home:hover {
          text-decoration: none;
          color: rgb(3, 133, 240);
          text-shadow: 2px 2px 0px rgb(80, 7, 7);
          font-weight: bold;
          font-size: 30px;
          position: relative;
          top: 80px;
          left: 95px;
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 30px;
          padding-left: 30px;
        }
        .group-wrapper__container__right__log-out {
          height: 70px;
          width: 200px;
          background-color: rgb(58, 56, 56);
          color:rgb(30, 151, 155);
          font-size: 40px;
          font-weight: bold;
          text-align: center;
          line-height: 70px;
          letter-spacing: 3px;
          border: 1px solid #fff;
          border-radius: 30px;
          opacity: 0.7;
          text-decoration: none;
          position: absolute;
          bottom: 105px;
          right: 60px;
          padding: 10px 20px;
          &:hover {
            color: red;
            font-weight: bold;
            letter-spacing: 3px;
          }
        }
      }
      &__center {
        height: 100%;
        width: 50%;
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        overflow: scroll;
        &__box {
          height: 100px;
          width: 100%;
          background-color: rgb(189, 115, 66);
          text-shadow: 0px 5px 10px black;
          margin-bottom: 50px;
          opacity: 0.6;
          overflow: scroll;
          &__user {
            height: 30%;
            width: 50%;
            color: #fff;
            font-size: 30px;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px #fff solid;
            margin: 0 auto;
          }
          .link_show {
            text-decoration: none;
            color: #fff;
            padding-top: 40px;
          }
        }
        &__box:hover {
          height: 100px;
          width: 100%;
          background-color: rgb(51, 132, 185);
          margin-bottom: 50px;
          opacity: 0.7;
          overflow: scroll;
        }
      }
    }
  }
}